// Core Style
.dflex {
	@include flexbox;
	@include flex-direction(row);
	@include align-items(center);
	@include justify-content(center);
	border: 1px solid $black;
	padding: 2rem;
}
.ibox {
	border: 1px solid $red;
	width: 150px;
}
.list-ul {
	border: 1px solid $black;
	// @include clearfix;
	li {
		float: left;
	}
}
.eff {
	
}
.card {
	left: 0;
	@include cubic-effect-two;
}
.card:hover {
	position: relative;
	left: 150px;
}